<!--
 - Created by avram on 14-May-20.
 -->

<apex:page id="AccountSummary" standardController="Account" renderAs="pdf">
    <apex:pageBlock title="Account Summary">
        <apex:pageBlockSection >
            Name: {! Account.Name} <br/>
            Phone: {! Account.Phone} <br/>
            Industry: {! Account.Industry} <br/>
            Revenue: {! Account.AnnualRevenue} <br/>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>